#StJ{
    border-radius: 25px;
    background-color:#00f500;
    padding: 20px;

}

#JtX{
    border-radius: 25px;
    background-color: aquamarine;
    padding: 20px;
}

button{
    width: 200px
}
input{
    width: 220px;
/*    margin-left: 20px;
    margin-right: 20px;
*/
}

form{
    margin-top: 20px;
    margin-bottom:20px;
    padding-bottom: 30px;
    padding-top: 30px;  
}
