<!DOCTYPE html>
<html>

<head>
    <title>Converer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>

<body>
    <div class="container" align='center'>
        <h1>

        </h1>
        <br>
        <div id=StJ>
            <form role="form" method="POST" action="{{ url_for('url_to_json') }}">
                <table>
                    <tr>
                        <td>
                            <p>Convert</p>
                        </td>
                        <td>
                            <p>Url</p>
                        </td>
                        <td>
                            <p>RegExp</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button name="B_StJ" type="submit" class="button1" id="try-again">Source to
                                Json</button>
                        </td>
                        <td>
                            <input name="T_Url" type="text">
                        </td>
                        <td>
                            <input name="T_RegExp" type="text">
                        </td>
                    </tr>
                </table>
            </form>
            <h2>

                Return 'json' which contain elements matched in provided 'regexp'
            </h2>
        </div>
        <div id=JtX>
            <form role="form" method="POST" action="{{ url_for('json_to_xml') }}" enctype=multipart/form-data> <table>
                <tr>
                    <td>
                        <p>Convert</p>
                    </td>
                    <td>
                        <p>Json</p>
                    </td>
                    <td>
                        <p>XML</p>
                    </td>
                    <td>
                        <p>ID(default "mxb")</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button name="B_JtX" type="submit" class="button2">Json to Xml </button>
                    </td>
                    <td>
                        <input name="F_json" class="file" type="file">
                    </td>
                    <td>
                        <input name="F_xml" class="flie" type="file">
                    </td>
                    <td>
                        <input name="T_uid" type="text">
                    </td>

                </tr>
                </table>
            </form>
            <h2>
                Converting provided 'json' file to specified xml
            </h2>


        </div>
        {% for message in get_flashed_messages() %}
        <div class="error">{{ message }}</div>
        {% endfor %}
        <!--     <div id=StX>
            <form role="form" method="post" onsubmit="return false;">
                <table>
                    <tr>
                        <td><p>opcja</p></td>
                        <td><p>opcja</p></td>
                        <td><p>opcja</p></td>
                        
                    </tr>
                    <tr>
                        <td> <button type="submit" class="btn btn-primary">Source to Xml</button>  </td>
                        <td><input type="text" name="nazwa"> </td>
                        <td><input type="file" name="nazwa"></td>
                    </tr>
                </table>                
            </form>    
        </div> -->

    </div>
    <div id='nav'>
        <form class="navF" role="form" method="POST" action="{{ url_for('admin') }}">
            <button class="navB" name="Admin" type="submit" id="try-again" style="visibility: {{admin_button}};">Admin
                panel</button>
        </form>
        <form class="navF" role="form" method="POST" action="{{ url_for('logoff') }}">
            <button class="navB" name="logoff" type="submit" id="try-again"> Logoff</button>
        </form>
    </div>
</body>

</html>